@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

//width-heights
$main-width: 21.875rem;                 //device-width
// $main-width: 350px;                  //device-width
$main-padding: 1rem;                    //padding-size
$big-padding: 2rem;                     //larger-padding-size
$main-margin: 1.5rem;                   //margin-size
$message-padding: .5rem 1rem;           //text-padding
$alert-dimensions: 1.094rem;            //alert-icon-dimensions
$zero: 0rem;                            

//main-colors
$dark-color: #121212;               //font-color, icon-bg
$blk: #000;                         //black-font
$wht: #fff;                         //white-font

//hsr-chat-colors
$bgcolor-hsr: #d4d8dc;              //hsr-chat-background, chat-outline
$sub-color: #666868;                //contact-name, bio-text
$sub-color2: #b9bdbf;               //bio-underline
$sender-color-hsr: #ededed;         //sender-hsr
$receiver-color-hsr: #d9caa9;       //receiver-hsr
$textbox-shadow-color: #9ea0a1;     //textbox-shadow-hsr
$alert-color-hsr: #858586;          //alerts-hsr
$darker-bgcolor: #cbcecf;            //slightly-darker-background

//fonts
$main-font-family: "Rubik", sans-serif;
$hsr-font-family: Bahnschrift, Inter, sans-serif;

body {
    font-family: $main-font-family;
    margin: $main-margin;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
    color: #121212;
}

nav {
    text-align: center;
    margin: $main-margin;
    margin-top: 3rem;
    margin-bottom: 3.5rem;

    a {
        padding: 1rem 2rem 1rem 2rem;
        background-color: $dark-color;
        color: $sub-color2;
    }
}

.container {
    margin: 2rem;
}

.phone {
    max-width: $main-width;
    font-family: $hsr-font-family!important;
    display: table;
    margin: auto;
    background-color: $bgcolor-hsr;
    border-radius: 0 .938rem 0 0;
    outline: .094rem solid rgba(213, 214, 215, .9);
    outline-offset: .125rem;
    padding-left: $main-padding;
    padding-right: $main-padding;
    padding-bottom: $main-padding;
}

.header {
    min-width: $main-width;
    background: none;
    border-bottom: .094rem solid $sub-color2;
    margin-bottom: 1rem;
    padding-left: .5rem;
    padding-top: .5rem;
}

.main-contact {
    font-size: larger;
    color: $dark-color;
    font-weight: bold;
    margin-top: .75rem;
    margin-bottom: 0;
}

.bio {
    margin: .25rem auto .75rem auto;
    color: $sub-color;
    font-size: smaller;
    font-weight: 600;
}

.icon-edit {
    float: right;
    z-index: 1;
    padding: $main-padding;
    color: mix($sub-color, $sub-color2, 50%);
    background: none;
    border: none;
    cursor: pointer;

}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 75;
    }
}

.popupper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba($dark-color, .8);
    color: $bgcolor-hsr;
    opacity: 75;
    padding: $big-padding;
    margin: 0;
    box-shadow: 0 0 .938rem $sub-color;
    width: 17.5rem;
    height: fit-content;
    border-radius: .938rem;
    transition: .5s;
    z-index: 2;
    -webkit-animation: fadein 0.15s cubic-bezier(0.38, 0.1, 0.36, 0.9);
        animation: fadein 0.15s cubic-bezier(0.38, 0.1, 0.36, 0.9);

    input[type=text] {
        margin-top: .75rem;
        color: $wht;
        font-family: $hsr-font-family;
        padding: .5rem 1rem .5rem 1rem;
        border: .094rem solid $dark-color;
        background-color: $blk;
        font-size: medium;
        outline: none;
        width: 85%;
        margin-bottom: 1rem;

        &:focus {
            border-color: $sub-color;
            transition: .15s;
        }
    }

}

label {
    padding: .5rem 1rem .5rem .5rem;
}

.full-message {
    min-height: fit-content;
    margin-bottom: .25rem;
    width: auto;
}

.full-text {
    margin-right: auto;
    margin-left: 0rem;
}

.full-reply {
    margin-right: 0rem;
    margin-left: auto;
}

.message-content {
    display: flex;
    flex-direction: column;
}

.sender-contact {
    font-weight: 500;
    font-size: 90%;
    color: $sub-color;
    padding: 0 0 .25rem .75rem;
}

.receiver-contact {
    font-weight: 500;
    font-size: 90%;
    color: $sub-color;
    padding: 0 .75rem .25rem 0;
    text-align: right;
}

.icon {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: $dark-color;
}
.container-icon {
    width: 60px;
    vertical-align: top;
}

.text {
    font-weight: 500;
    color: $dark-color;
    padding: $message-padding;
    max-width: 80%;
    clear: both;
    position: relative;
}

.sender {
    float: left;
    margin: 0 0 .75rem .75rem;
    border-radius: 0 .65rem .65rem .65rem;
    background: $sender-color-hsr;
    box-shadow: -.063rem .125rem $textbox-shadow-color;
}

.receiver {
    float: right;
    margin: 0 .75rem .75rem 0;
    border-radius: .65rem 0 .65rem .65rem;
    background: $receiver-color-hsr;
    box-shadow: .063rem .125rem $textbox-shadow-color;
}

.edit-btn-div {

    position: absolute;
    left: 35%;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    background: $blk;
    display: inline;

    button {
        width: 35px;
        height: 35px;
        color: $wht;
        border: none;
        background: none;
        cursor: pointer;
        text-align: center;
    }
}

.fullalert {
    vertical-align: middle;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.alert-icon {
    width: $alert-dimensions;
    height: $alert-dimensions;
}
.alert-display {
    width: fit-content;
    text-align: center;
}
.alert {
    vertical-align: middle;
    text-align: left;
    color: $alert-color-hsr;
    font-size: small;
    padding-bottom: .5rem;
    padding-top: .5rem;
    margin: .25rem 0 .75rem 0rem;
    display: table;
}

.write-text {
    background-color: $darker-bgcolor;
    width: 100%;
    height: fit-content;
    padding: $main-padding;
    margin: 0 -1rem -1rem -1rem;
    align-items: center;
    text-align: center;

    input[type=text] {
        margin-top: .75rem;
        font-family: $hsr-font-family;
        width: 70%;
        padding: .5rem 1rem .5rem 1rem;
        border: .094rem solid $bgcolor-hsr;
        font-size: medium;
        outline: none;

        &:focus {
            border-color: $dark-color;
            transition: .15s;
        }
    }

    .text-send {
        font-family: $hsr-font-family;
        padding: .5rem 1rem .5rem 1rem;
        border: .094rem solid $bgcolor-hsr;
        border-left: 0;
        font-size: medium;
        color: $bgcolor-hsr;
        background-color: $dark-color;
        cursor: pointer;
    }

    input[type=radio] {
        margin-top: .75rem;
        font-family: $hsr-font-family;
        border: .094rem solid $bgcolor-hsr;
        font-size: medium;
        outline: none;
        cursor: pointer;
    }

    select {
        margin-top: .75rem;
        font-family: $hsr-font-family;
        padding: .5rem 1rem .5rem 1rem;
        border: .094rem solid $bgcolor-hsr;
        font-size: medium;
        outline: none;
        cursor: pointer;

        &:focus {
            border-color: $dark-color;
            transition: .15s;
        }
    }

}

.export-container {

    width: $main-width;
    margin: auto;
    font-family: $main-font-family;
    padding: $main-padding;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    button {
        width: 100%;
        font-family: $main-font-family;
        margin: $main-margin;
        padding: .5rem 1rem .5rem 1rem;
        font-size: medium;
        color: $wht;
        background-color: $blk;
        cursor: pointer;
    }

    textarea {
        width: 100%;
        margin-top: .25rem;
        border: $sub-color2 solid .094rem;
        border-radius: 5px;
        padding: .25rem;
        height: 7.5rem;
    }

}