@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
body {
  font-family: "Rubik", sans-serif;
  margin: 1.5rem;
}

nav {
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  background-color: #121212;
  margin: -1.5rem;
  margin-bottom: 1.5rem;
}
nav a {
  text-decoration: none;
  color: #fff;
  background-color: #121212;
  padding-left: 2rem;
}
nav .menu {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  align-items: center;
  display: none;
}
nav .menu .menu-icon {
  margin: auto;
  width: 1.75rem;
  height: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
nav .menu .menu-icon .icon-line {
  width: 100%;
  height: 0.175rem;
  background-color: #fff;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  display: block;
  text-decoration: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-right: 1rem;
  border-radius: 0.938rem;
}
nav ul li a:hover {
  background-color: #b9bdbf;
  color: #121212;
}
nav ul li a:active, nav ul li a:focus {
  background-color: #fff;
  color: #121212;
  transition: 0.15s;
}
nav ul li a:active:hover, nav ul li a:focus:hover {
  background-color: #fff;
}
nav ul li .dropdown-container {
  cursor: pointer;
}
nav .dropdown {
  position: absolute;
  background-color: #121212;
  padding: 0.5rem;
  margin-left: -0.325rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  width: 7.5rem;
  z-index: 3;
  display: none;
}
nav .dropdown a {
  margin: 0;
}
nav .dropdown a:visited, nav .dropdown a:hover, nav .dropdown a:focus, nav .dropdown a:active {
  background-color: transparent;
  color: #fff;
  -webkit-text-decoration: underline #fff;
          text-decoration: underline #fff;
  transition: 0.15s;
}
nav .dropdown.show {
  display: block;
}

blockquote {
  border-left: #b9bdbf 0.188rem solid;
  border-bottom: #b9bdbf 0.188rem solid;
  padding: 0.5rem 1rem 1rem 1rem;
  margin-bottom: 2rem;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-left: 0.25rem;
}
blockquote a, blockquote a:focus, blockquote a:visited {
  color: #0b93f6;
}

.all-workskins {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.workskin-container {
  display: flex;
  align-items: start;
  flex-direction: column;
  max-width: 21.875rem;
}

.workskin-box {
  width: 20.875rem;
  max-height: 15rem;
  border: #858586;
  background-color: #d4d8dc;
  overflow: scroll;
}

.copy-workskin {
  width: 12.5rem;
  font-family: "Rubik", sans-serif;
  margin: 1.5rem;
  margin-left: 0;
  padding: 1rem;
  font-size: medium;
  color: #fff;
  background-color: #000;
  cursor: pointer;
}

.tiny {
  font-size: xx-small;
  margin: 0;
  padding: 0;
}

.container {
  margin: 2rem;
}

.ios-phone {
  font-family: Helvetica, "Segoe UI", Inter, Roboto, sans-serif;
  max-width: 21.875rem;
  display: table;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.ios-header {
  background-color: #f5f5f5;
  min-width: 21.875rem;
  border-bottom: 0.094rem solid #b9bdbf;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  margin-left: -0.5rem;
  margin-right: -0.5em;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: capitalize;
}

.main-ios-contact {
  color: #000;
  font-weight: bold;
  margin-top: 0.75rem;
  margin-bottom: 0;
  font-size: larger;
  margin-left: 1.5rem;
}

.ios-bio {
  margin: 0.5rem auto 0.25rem auto;
  color: #666868;
  font-size: smaller;
}

.ios-text {
  float: left;
  margin: 0 0 0.75rem 0.75rem;
}

.full-ios-reply .ios-ios-picture, .full-ios-text .ios-ios-picture {
  width: 12.5rem;
  height: 9.375rem;
  background-color: #000;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}

.ios-reply {
  float: right;
  margin: 0 0.75rem 0.75rem 0;
}

.full-ios-text {
  margin-right: auto;
  margin-left: 0rem;
  width: 100%;
}
.full-ios-text .ios-ios-text {
  float: left;
  color: #000;
  margin: 0 0 0.5rem;
  max-width: 70%;
  border-radius: 1.25rem;
  padding: 0.75rem 1.25rem 0.75rem 1.25rem;
  background: #e5e5ea;
  clear: both;
  position: relative;
  overflow-wrap: break-word;
}
.full-ios-text .ios-ios-text::after {
  content: "";
  position: absolute;
  left: -0.5rem;
  bottom: 0;
  width: 0.5rem;
  height: 1.5rem;
  border-right: 0.75rem solid #e5e5ea;
  border-bottom-right-radius: 1.25rem 0.5rem;
}
.full-ios-text .ios-ios-picture {
  float: left;
  margin-left: 0;
}

.full-ios-reply {
  margin-left: auto;
  margin-right: 0rem;
  width: 100%;
}
.full-ios-reply .ios-ios-text {
  float: right;
  color: #FFFFFF;
  margin: 0 0 0.5rem;
  max-width: 70%;
  border-radius: 1.25rem;
  padding: 0.75rem 1.25rem 0.75rem 1.25rem;
  background: #0b93f6;
  clear: both;
  position: relative;
  overflow-wrap: break-word;
}
.full-ios-reply .ios-ios-text::after {
  content: "";
  position: absolute;
  right: -0.5rem;
  bottom: 0;
  width: 0.5rem;
  height: 1.5rem;
  border-left: 0.75rem solid #0b93f6;
  border-bottom-left-radius: 1.25rem 0.5rem;
}
.full-ios-reply .ios-ios-text .no-after::after {
  content: none;
}
.full-ios-reply .ios-ios-picture {
  float: left;
  margin-right: 0;
}

.kkt-phone {
  font-family: Helvetica, "Segoe UI", Inter, Roboto, sans-serif;
  max-width: 21.875rem;
  display: table;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.938rem;
  background-color: #b1c6d9;
}

.kkt-header {
  min-width: 21.875rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  margin-left: -0.5rem;
  margin-right: -0.5em;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: capitalize;
}

.kkt-header-back, .kkt-header-front, .kkt-header-components {
  display: flex;
  align-items: center;
}

.kkt-header-components {
  justify-content: space-between;
}

.kkt-header-front {
  justify-content: flex-start;
  margin-left: 0.5rem;
}

.kkt-header-back {
  justify-content: flex-end;
  gap: 0.75rem;
  margin-right: 0.75rem;
}

.main-kkt-contact {
  color: #000;
  font-weight: bold;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  font-size: larger;
  margin-left: 0.75rem;
}

.kkt-bio {
  margin: 0.5rem auto 0.25rem auto;
  color: #666868;
  font-size: smaller;
}

.full-kkt-reply .kkt-kkt-picture, .full-kkt-text .kkt-kkt-picture {
  width: 12.5rem;
  height: 9.375rem;
  background-color: #000;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}

.full-kkt-reply .icon, .full-kkt-text .icon {
  width: 45px;
  height: 45px;
  border-radius: 1.25rem;
  background-color: #121212;
}

.full-kkt-reply .kkt-icon, .full-kkt-text .kkt-icon {
  width: 45px;
  vertical-align: top;
}

.kkt-text {
  float: left;
  margin: 0 0 0.75rem 0.75rem;
}

.kkt-reply {
  float: right;
  margin: 0 0.75rem 0.75rem 0;
}

.full-kkt-reply .receiver-contact, .full-kkt-text .sender-contact {
  font-size: small;
  font-weight: 500;
  color: #000;
  padding: 0;
  padding-bottom: 0.25rem;
}

.full-kkt-text {
  margin-right: auto;
  margin-left: 0;
  width: 100%;
}
.full-kkt-text .kkt-kkt-text {
  float: left;
  color: #000;
  margin: 0 0.5rem 0.5rem 0;
  max-width: 60%;
  border-radius: 1.1rem;
  padding: 0.75rem 1rem;
  background: #ffffff;
  clear: both;
  position: relative;
  overflow-wrap: break-word;
}
.full-kkt-text .kkt-kkt-text::after {
  content: "";
  position: absolute;
  left: -0.5rem;
  top: 0;
  width: 0.5rem;
  height: 1.5rem;
  border-right: 0.5rem solid #ffffff;
  border-top-right-radius: 0.75rem 0.75rem;
}
.full-kkt-text .kkt-kkt-picture {
  float: left;
  margin-left: 0;
}
.full-kkt-text .icon {
  margin-right: 0.5rem;
}
.full-kkt-reply {
  margin-left: auto;
  margin-right: 0rem;
  width: 100%;
}
.full-kkt-reply .kkt-kkt-text {
  float: right;
  color: #000;
  margin: 0 0 0.5rem 0.5rem;
  max-width: 60%;
  border-radius: 1.1rem;
  padding: 0.75rem 1rem;
  background: #ffec36;
  clear: both;
  position: relative;
  overflow-wrap: break-word;
}
.full-kkt-reply .kkt-kkt-text::after {
  content: "";
  position: absolute;
  right: -0.5rem;
  top: 0;
  width: 0.5rem;
  height: 1.5rem;
  border-left: 0.5rem solid #ffec36;
  border-top-left-radius: 0.75rem 0.75rem;
}
.full-kkt-reply .kkt-kkt-text .no-after::after {
  content: none;
}
.full-kkt-reply .kkt-kkt-picture {
  float: left;
  margin-right: 0;
}
.full-kkt-reply .icon {
  margin-left: 0.5rem;
}
.hsr-phone {
  max-width: 21.875rem;
  font-family: Bahnschrift, Inter, sans-serif !important;
  display: table;
  margin: auto;
  background-color: #d4d8dc;
  border-radius: 0 0.938rem 0 0;
  outline: 0.094rem solid rgba(213, 214, 215, 0.9);
  outline-offset: 0.125rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.header {
  min-width: 21.875rem;
  background: none;
  border-bottom: 0.094rem solid #b9bdbf;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}

.main-contact {
  font-size: larger;
  color: #121212;
  font-weight: bold;
  margin-top: 0.75rem;
  margin-bottom: 0;
}

.bio {
  margin: 0.25rem auto 0.75rem auto;
  color: #666868;
  font-size: smaller;
  font-weight: 600;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 75;
  }
}
.icon-edit-kkt, .icon-edit {
  padding-top: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  animation: fadein 0.15s cubic-bezier(0.38, 0.1, 0.36, 0.9);
}

.icon-edit {
  color: #909394;
  float: right;
  z-index: 1;
  padding-right: 1rem;
  padding-left: 0;
  padding-bottom: 0;
}

.icon-edit-kkt {
  color: #666868;
}

.popupper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(18, 18, 18, 0.8);
  color: #d4d8dc;
  opacity: 75;
  padding: 2rem;
  margin: 0;
  box-shadow: 0 0 0.938rem #666868;
  width: 17.5rem;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 0.938rem;
  transition: 0.5s;
  z-index: 2;
  animation: fadein 0.15s cubic-bezier(0.38, 0.1, 0.36, 0.9);
}
.popupper input[type=text] {
  margin-top: 0.75rem;
  color: #fff;
  font-family: Bahnschrift, Inter, sans-serif;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 0.094rem solid #121212;
  background-color: #000;
  font-size: medium;
  outline: none;
  width: 85%;
  margin-bottom: 1rem;
}
.popupper input[type=text]:focus {
  border-color: #666868;
  transition: 0.15s;
}

label {
  padding: 0.5rem 1rem 0.5rem 0.5rem;
}

.full-message {
  min-height: -moz-fit-content;
  min-height: fit-content;
  margin-bottom: 0.25rem;
}

.full-reply .picture, .full-text .picture {
  width: 150px;
  height: 75px;
  background-color: #000;
}

.full-reply .sticker, .full-text .sticker {
  width: 75px;
  height: 75px;
  background-color: none;
  margin: 1rem;
}

.full-reply .icon, .full-text .icon {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #121212;
}

.full-reply .container-icon, .full-text .container-icon {
  width: 60px;
  vertical-align: top;
}

.full-text {
  margin-right: auto;
  margin-left: 0rem;
  width: 100%;
}
.full-text .text {
  font-weight: 500;
  color: #121212;
  padding: 0.5rem 1rem;
  max-width: 70%;
  clear: both;
  position: relative;
  background: #ededed;
  box-shadow: -0.063rem 0.125rem #9ea0a1;
  border-radius: 0 0.65rem 0.65rem 0.65rem;
  overflow-wrap: break-word;
}
.full-text .picture {
  float: left;
  margin: 0.5rem 0.75rem 1rem 1.5rem;
}
.full-text .sticker {
  float: left;
}
.full-reply {
  margin-right: 0rem;
  margin-left: auto;
  width: 100%;
}
.full-reply .text {
  font-weight: 500;
  color: #121212;
  padding: 0.5rem 1rem;
  max-width: 70%;
  clear: both;
  position: relative;
  border-radius: 0.65rem 0 0.65rem 0.65rem;
  background: #d9caa9;
  box-shadow: 0.063rem 0.125rem #9ea0a1;
  overflow-wrap: break-word;
}
.full-reply .picture {
  float: right;
  margin: 0.5rem 1.5rem 1rem 0.75rem;
}
.full-reply .sticker {
  float: right;
}
.message-content {
  display: flex;
  flex-direction: column;
}

.sender-contact {
  font-weight: 500;
  font-size: 90%;
  color: #666868;
  padding: 0 0 0.25rem 0.75rem;
}

.receiver-contact {
  font-weight: 500;
  font-size: 90%;
  color: #666868;
  padding: 0 0.75rem 0.25rem 0;
  text-align: right;
}

.sender {
  float: left;
  margin: 0 0 0.75rem 0.75rem;
}

.receiver {
  float: right;
  margin: 0 0.75rem 0.75rem 0;
}

.edit-btn-div {
  position: absolute;
  left: 35%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
  background: #000;
  display: inline;
}
.edit-btn-div button {
  width: 35px;
  height: 35px;
  color: #fff;
  border: none;
  background: none;
  cursor: pointer;
  text-align: center;
}

.fullalert {
  vertical-align: middle;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.alert-icon {
  width: 1.094rem;
  height: 1.094rem;
}

.alert-display {
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

.ios-alert {
  vertical-align: middle;
  text-align: left;
  color: #858586;
  font-size: small;
  padding: 0;
  margin: 0;
  display: table;
}

.kkt-alert {
  background-color: rgba(74, 74, 74, 0.25);
  vertical-align: middle;
  text-align: left;
  color: #fff;
  font-size: small;
  padding: 0.25rem 0.5rem;
  margin: 0.5rem 0 0.75rem 0rem;
  display: table;
  border-radius: 2rem;
}

.alert {
  vertical-align: middle;
  text-align: left;
  color: #858586;
  font-size: small;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  margin: 0.25rem 0 0.75rem 0rem;
  display: table;
}

.write-kkt-text .text-send, .write-ios-text .text-send, .write-text .sticker-select, .write-text .text-send {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 0.094rem solid #d4d8dc;
  font-size: medium;
  font-weight: 600;
  cursor: pointer;
}
.write-kkt-text .text-send:hover, .write-ios-text .text-send:hover, .write-text .sticker-select:hover, .write-text .text-send:hover, .write-kkt-text .text-send:focus, .write-ios-text .text-send:focus, .write-text .sticker-select:focus, .write-text .text-send:focus, .write-kkt-text .text-send:active, .write-ios-text .text-send:active, .write-text .sticker-select:active, .write-text .text-send:active {
  transition: 0.15s;
}

.write-text {
  background-color: #cbcecf;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem;
  margin: 0 -1rem -1rem -1rem;
  align-items: center;
  text-align: center;
}
.write-text input[type=text] {
  margin-top: 0.75rem;
  font-family: Bahnschrift, Inter, sans-serif;
  width: 60%;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 0.094rem solid #d4d8dc;
  font-size: medium;
  outline: none;
}
.write-text input[type=text]:focus {
  border-color: #121212;
  transition: 0.15s;
}
.write-text .text-send {
  font-family: Bahnschrift, Inter, sans-serif;
  border-color: #d4d8dc;
  border-left: 0;
  color: #121212;
  background-color: #d4d8dc;
}
.write-text .text-send:hover, .write-text .text-send:focus, .write-text .text-send:active {
  color: #d4d8dc;
  background-color: #121212;
  border-color: #121212;
}
.write-text input[type=radio] {
  margin-top: 1rem;
  margin-bottom: 0.75rem;
  font-family: Bahnschrift, Inter, sans-serif;
  border: 0.094rem solid #d4d8dc;
  font-size: medium;
  outline: none;
  cursor: pointer;
}
.write-text input[type=radio]:disabled {
  cursor: not-allowed;
}
.write-text select {
  margin-top: 0.75rem;
  font-family: Bahnschrift, Inter, sans-serif;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 0.094rem solid #d4d8dc;
  font-size: medium;
  outline: none;
  cursor: pointer;
}
.write-text select:focus {
  border-color: #121212;
  transition: 0.15s;
}
.write-text hr {
  border: #b9bdbf 0.094rem solid;
  margin-top: 0.75rem;
  width: 20%;
}
.write-text .sticker-select {
  font-family: Bahnschrift, Inter, sans-serif;
  margin: 1rem;
}
.write-text .sticker-select:hover, .write-text .sticker-select:focus, .write-text .sticker-select:active {
  color: #d4d8dc;
  background-color: #121212;
  border-color: #121212;
}

.write-ios-text {
  background-color: #cbcecf;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem;
  margin: 1rem -1rem -1rem -1rem;
  align-items: center;
  text-align: center;
}
.write-ios-text input[type=text] {
  margin-top: 0.75rem;
  font-family: Helvetica, "Segoe UI", Inter, Roboto, sans-serif;
  width: 60%;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 0.094rem solid #d4d8dc;
  font-size: medium;
  outline: none;
}
.write-ios-text input[type=text]:focus {
  border-color: #121212;
  transition: 0.15s;
}
.write-ios-text .text-send {
  font-family: Helvetica, "Segoe UI", Inter, Roboto, sans-serif;
  border-color: #d4d8dc;
  border-left: 0;
  color: #121212;
  background-color: #d4d8dc;
}
.write-ios-text .text-send:hover, .write-ios-text .text-send:focus, .write-ios-text .text-send:active {
  color: #d4d8dc;
  background-color: #121212;
  border-color: #121212;
}
.write-ios-text input[type=radio] {
  margin-top: 1rem;
  margin-bottom: 0.75rem;
  font-family: Helvetica, "Segoe UI", Inter, Roboto, sans-serif;
  border: 0.094rem solid #d4d8dc;
  font-size: medium;
  outline: none;
  cursor: pointer;
}
.write-ios-text input[type=radio]:disabled {
  cursor: not-allowed;
}
.write-ios-text select {
  margin-top: 0.75rem;
  font-family: Helvetica, "Segoe UI", Inter, Roboto, sans-serif;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 0.094rem solid #d4d8dc;
  font-size: medium;
  outline: none;
  cursor: pointer;
}
.write-ios-text select:focus {
  border-color: #121212;
  transition: 0.15s;
}
.write-ios-text hr {
  border: #b9bdbf 0.094rem solid;
  margin-top: 0.75rem;
  width: 20%;
}

.write-kkt-text {
  background-color: #cbcecf;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem;
  margin: 1rem -1rem -1rem -1rem;
  align-items: center;
  text-align: center;
}
.write-kkt-text input[type=text] {
  margin-top: 0.75rem;
  font-family: Helvetica, "Segoe UI", Inter, Roboto, sans-serif;
  width: 60%;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 0.094rem solid #d4d8dc;
  font-size: medium;
  outline: none;
}
.write-kkt-text input[type=text]:focus {
  border-color: #121212;
  transition: 0.15s;
}
.write-kkt-text .text-send {
  font-family: Helvetica, "Segoe UI", Inter, Roboto, sans-serif;
  border-color: #d4d8dc;
  border-left: 0;
  color: #121212;
  background-color: #d4d8dc;
}
.write-kkt-text .text-send:hover, .write-kkt-text .text-send:focus, .write-kkt-text .text-send:active {
  color: #d4d8dc;
  background-color: #121212;
  border-color: #121212;
}
.write-kkt-text input[type=radio] {
  margin-top: 1rem;
  margin-bottom: 0.75rem;
  font-family: Helvetica, "Segoe UI", Inter, Roboto, sans-serif;
  border: 0.094rem solid #d4d8dc;
  font-size: medium;
  outline: none;
  cursor: pointer;
}
.write-kkt-text input[type=radio]:disabled {
  cursor: not-allowed;
}
.write-kkt-text select {
  margin-top: 0.75rem;
  font-family: Helvetica, "Segoe UI", Inter, Roboto, sans-serif;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 0.094rem solid #d4d8dc;
  font-size: medium;
  outline: none;
  cursor: pointer;
}
.write-kkt-text select:focus {
  border-color: #121212;
  transition: 0.15s;
}
.write-kkt-text hr {
  border: #b9bdbf 0.094rem solid;
  margin-top: 0.75rem;
  width: 20%;
}

.sticker-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(18, 18, 18, 0.8);
  color: #d4d8dc;
  opacity: 75;
  padding: 2rem;
  margin: 0;
  box-shadow: 0 0 0.938rem #666868;
  width: 25rem;
  max-height: 25rem;
  border-radius: 0.938rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 1rem;
  padding: 1rem;
  z-index: 3;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: center;
  align-items: center;
  justify-content: center;
  animation: fadein 0.15s cubic-bezier(0.38, 0.1, 0.36, 0.9);
}

.sticker-item {
  text-align: center;
  background-color: none;
  padding: 1rem;
  border-radius: 0.938rem;
  align-self: center;
  justify-self: center;
  cursor: pointer;
}

.sticker-image {
  width: 100%;
  height: auto;
  max-width: 80px;
  margin: 1rem;
  display: block;
  align-self: center;
  justify-self: center;
}

.sticker-id {
  font-size: small;
  color: #d4d8dc;
}

.export-container {
  width: 21.875rem;
  margin: auto;
  font-family: "Rubik", sans-serif;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.export-container button {
  width: 100%;
  font-family: "Rubik", sans-serif;
  margin: 1.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: medium;
  color: #fff;
  background-color: #000;
  cursor: pointer;
}
.export-container textarea {
  width: 100%;
  margin-top: 0.25rem;
  border: #b9bdbf solid 0.094rem;
  border-radius: 5px;
  padding: 0.25rem;
  height: 7.5rem;
}
.export-container .success-message {
  color: rgb(74, 193, 44);
  margin: 0;
  font-size: smaller;
}

.credits {
  margin: 1rem;
  margin-bottom: 0;
  margin-left: 0;
}

.no-after::after {
  content: none;
}

.suggestion {
  font-family: "Rubik", sans-serif;
  padding: 1rem;
  font-size: medium;
  border: 0.094rem solid #b9bdbf;
}

.suggestion-submit {
  font-family: "Rubik", sans-serif;
  margin: 1.5rem;
  margin-left: 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: medium;
  color: #fff;
  background-color: #000;
  cursor: pointer;
}

.notif {
  margin: 0;
  color: #858586;
  font-size: small;
}

.login-page {
  display: block;
}

.user-image-upload, .login-input {
  padding: 0.5rem 0.75rem;
  font-family: "Rubik", sans-serif;
  border: 0.094rem solid #121212;
}

.image-submit, .login-submit {
  font-family: "Rubik", sans-serif;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: medium;
  color: #fff;
  background-color: #000;
  cursor: pointer;
}

.login-input {
  margin-bottom: 1rem;
  margin-left: 0;
}

.login-submit {
  margin-top: 0;
}

.login-switch {
  background: none;
  border: none;
  font-family: "Rubik", sans-serif;
  color: #666868;
  font-size: medium;
  text-decoration: underline;
}

.user-image-upload {
  margin-bottom: 1rem;
  width: 21.875rem;
}

.image-submit {
  margin: 1rem;
  margin-left: 0;
  margin-top: 0;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  gap: 1rem;
}

.image-card {
  text-align: center;
}

.image-card img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 480px) {
  .container {
    margin: 0;
  }
  .export-container {
    width: 17.5rem;
  }
  .ios-phone, .hsr-phone {
    max-width: 17.5rem;
  }
  .ios-header, .header {
    min-width: 17.5rem;
  }
  nav {
    flex-direction: column;
    align-items: start;
    right: 0;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    padding-left: 0;
    margin: 0;
  }
  nav ul li a {
    padding: 0.75rem;
    padding-left: 2rem;
    margin: 0.25rem;
    border-radius: 0;
  }
  nav ul li a:active {
    background-color: #fff;
    color: #121212;
    transition: 0.15s;
  }
  nav ul li a:active:hover {
    background-color: #fff;
  }
  nav .open {
    display: flex;
  }
  nav .menu {
    display: flex;
  }
  nav .dropdown {
    width: 100%;
    background-color: #b9bdbf;
    padding: 0;
    margin: 0;
    border-radius: 0;
  }
  nav .dropdown a {
    padding: 0.75rem;
    color: #000;
    padding-left: 2rem;
    margin: 0.25rem;
    border-radius: 0;
  }
  nav .dropdown a:visited, nav .dropdown a:hover, nav .dropdown a:focus, nav .dropdown a:active {
    color: #000;
    -webkit-text-decoration: #000 underline;
            text-decoration: #000 underline;
  }
}/*# sourceMappingURL=main.css.map */