@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
body {
  font-family: "Rubik", sans-serif;
  margin: 1.5rem;
}

nav {
  justify-content: space-between;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  background-color: #121212;
  margin: -1.5rem;
  margin-bottom: 1.5rem;
}
nav a {
  text-decoration: none;
  color: #fff;
  background-color: #121212;
  padding-left: 2rem;
}
nav .menu {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  align-items: center;
  display: none;
}
nav .menu .menu-icon {
  margin: auto;
  width: 1.75rem;
  height: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
nav .menu .menu-icon .icon-line {
  width: 100%;
  height: 0.175rem;
  background-color: #fff;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  display: block;
  text-decoration: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-right: 1rem;
  border-radius: 0.938rem;
}
nav ul li a:hover {
  background-color: #b9bdbf;
  color: #121212;
}
nav ul li a:active, nav ul li a:focus {
  background-color: #fff;
  color: #121212;
  transition: 0.15s;
}
nav ul li a:active:hover, nav ul li a:focus:hover {
  background-color: #fff;
}

.all-workskins {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.workskin-container {
  display: flex;
  align-items: start;
  flex-direction: column;
  max-width: 25rem;
}

.workskin-box {
  width: 21.875rem;
  max-height: 15rem;
  border: #858586;
  background-color: #d4d8dc;
  overflow: scroll;
}

.copy-workskin {
  width: 12.5rem;
  font-family: "Rubik", sans-serif;
  margin: 1.5rem;
  margin-left: 0;
  margin-top: 0;
  padding: 1rem;
  font-size: medium;
  color: #fff;
  background-color: #000;
  cursor: pointer;
}

.tiny {
  font-size: xx-small;
  margin: 0;
  padding: 0;
}

.container {
  margin: 2rem;
}

.ios-phone {
  font-family: Arial, Helvetica, Inter, Roboto, sans-serif;
  max-width: 21.875rem;
  display: table;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.ios-header {
  background-color: #F6F6F6;
  min-width: 21.875rem;
  border-bottom: 0.094rem solid #b9bdbf;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  margin-left: -0.5rem;
  margin-right: -0.5em;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: capitalize;
}

.main-ios-contact {
  color: #000;
  font-weight: bold;
  margin-top: 0.75rem;
  margin-bottom: 0;
  font-size: larger;
  margin-left: 1.5rem;
}

.ios-bio {
  margin: 0.5rem auto 0.25rem auto;
  color: #666868;
  font-size: smaller;
}

.ios-text {
  float: left;
  color: #000;
  margin: 0 0 0.5em;
  border-radius: 1em;
  padding: 0.5em 1em;
  background: #b9bdbf;
  max-width: 75%;
  clear: both;
  position: relative;
}
.ios-text::after {
  content: "";
  position: absolute;
  left: -0.5em;
  bottom: 0;
  width: 0.5em;
  height: 1em;
  border-right: 0.5em solid #b9bdbf;
  border-bottom-right-radius: 1em 0.5em;
}

.ios-reply {
  float: right;
  color: #FFFFFF;
  margin: 0 0 0.5em;
  border-radius: 1em;
  padding: 0.5em 1em;
  background: #1289fe;
  max-width: 75%;
  clear: both;
  position: relative;
}
.ios-reply::after {
  content: "";
  position: absolute;
  right: -0.5em;
  bottom: 0;
  width: 0.5em;
  height: 1em;
  border-left: 0.5em solid #1289fe;
  border-bottom-left-radius: 1em 0.5em;
}

.full-ios-text {
  margin-right: auto;
  margin-left: 0rem;
}

.full-ios-reply {
  margin-left: auto;
  margin-right: 0rem;
}

.hsr-phone {
  max-width: 21.875rem;
  font-family: Bahnschrift, Inter, sans-serif !important;
  display: table;
  margin: auto;
  background-color: #d4d8dc;
  border-radius: 0 0.938rem 0 0;
  outline: 0.094rem solid rgba(213, 214, 215, 0.9);
  outline-offset: 0.125rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.header {
  min-width: 21.875rem;
  background: none;
  border-bottom: 0.094rem solid #b9bdbf;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}

.main-contact {
  font-size: larger;
  color: #121212;
  font-weight: bold;
  margin-top: 0.75rem;
  margin-bottom: 0;
}

.bio {
  margin: 0.25rem auto 0.75rem auto;
  color: #666868;
  font-size: smaller;
  font-weight: 600;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 75;
  }
}
.icon-edit {
  float: right;
  z-index: 1;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 0;
  padding-bottom: 0;
  color: #909394;
  background: none;
  border: none;
  cursor: pointer;
  animation: fadein 0.15s cubic-bezier(0.38, 0.1, 0.36, 0.9);
}

.popupper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(18, 18, 18, 0.8);
  color: #d4d8dc;
  opacity: 75;
  padding: 2rem;
  margin: 0;
  box-shadow: 0 0 0.938rem #666868;
  width: 17.5rem;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 0.938rem;
  transition: 0.5s;
  z-index: 2;
  animation: fadein 0.15s cubic-bezier(0.38, 0.1, 0.36, 0.9);
}
.popupper input[type=text] {
  margin-top: 0.75rem;
  color: #fff;
  font-family: Bahnschrift, Inter, sans-serif;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 0.094rem solid #121212;
  background-color: #000;
  font-size: medium;
  outline: none;
  width: 85%;
  margin-bottom: 1rem;
}
.popupper input[type=text]:focus {
  border-color: #666868;
  transition: 0.15s;
}

label {
  padding: 0.5rem 1rem 0.5rem 0.5rem;
}

.full-message {
  min-height: -moz-fit-content;
  min-height: fit-content;
  margin-bottom: 0.25rem;
  width: auto;
}

.full-reply .picture, .full-text .picture {
  width: 150px;
  height: 75px;
  background-color: #000;
}

.full-reply .sticker, .full-text .sticker {
  width: 75px;
  height: 75px;
  background-color: none;
  margin: 1rem;
}

.full-text {
  margin-right: auto;
  margin-left: 0rem;
}
.full-text .text {
  font-weight: 500;
  color: #121212;
  padding: 0.5rem 1rem;
  max-width: 80%;
  clear: both;
  position: relative;
  background: #ededed;
  box-shadow: -0.063rem 0.125rem #9ea0a1;
  border-radius: 0 0.65rem 0.65rem 0.65rem;
}
.full-text .picture {
  float: left;
  margin: 0.5rem 0.75rem 1rem 1.5rem;
}
.full-text .sticker {
  float: left;
}

.full-reply {
  margin-right: 0rem;
  margin-left: auto;
}
.full-reply .text {
  font-weight: 500;
  color: #121212;
  padding: 0.5rem 1rem;
  max-width: 80%;
  clear: both;
  position: relative;
  border-radius: 0.65rem 0 0.65rem 0.65rem;
  background: #d9caa9;
  box-shadow: 0.063rem 0.125rem #9ea0a1;
}
.full-reply .picture {
  float: left;
  margin: 0.5rem 1.5rem 1rem 0.75rem;
}
.full-reply .sticker {
  float: right;
}

.message-content {
  display: flex;
  flex-direction: column;
}

.sender-contact {
  font-weight: 500;
  font-size: 90%;
  color: #666868;
  padding: 0 0 0.25rem 0.75rem;
}

.receiver-contact {
  font-weight: 500;
  font-size: 90%;
  color: #666868;
  padding: 0 0.75rem 0.25rem 0;
  text-align: right;
}

.icon {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #121212;
}

.container-icon {
  width: 60px;
  vertical-align: top;
}

.sender {
  float: left;
  margin: 0 0 0.75rem 0.75rem;
}

.receiver {
  float: right;
  margin: 0 0.75rem 0.75rem 0;
}

.edit-btn-div {
  position: absolute;
  left: 35%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
  background: #000;
  display: inline;
}
.edit-btn-div button {
  width: 35px;
  height: 35px;
  color: #fff;
  border: none;
  background: none;
  cursor: pointer;
  text-align: center;
}

.fullalert {
  vertical-align: middle;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.alert-icon {
  width: 1.094rem;
  height: 1.094rem;
}

.alert-display {
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

.alert {
  vertical-align: middle;
  text-align: left;
  color: #858586;
  font-size: small;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  margin: 0.25rem 0 0.75rem 0rem;
  display: table;
}

.write-ios-text .text-send, .write-text .sticker-select, .write-text .text-send {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 0.094rem solid #d4d8dc;
  font-size: medium;
  font-weight: 600;
  cursor: pointer;
}
.write-ios-text .text-send:hover, .write-text .sticker-select:hover, .write-text .text-send:hover, .write-ios-text .text-send:focus, .write-text .sticker-select:focus, .write-text .text-send:focus, .write-ios-text .text-send:active, .write-text .sticker-select:active, .write-text .text-send:active {
  transition: 0.15s;
}

.write-text {
  background-color: #cbcecf;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem;
  margin: 0 -1rem -1rem -1rem;
  align-items: center;
  text-align: center;
}
.write-text input[type=text] {
  margin-top: 0.75rem;
  font-family: Bahnschrift, Inter, sans-serif;
  width: 60%;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 0.094rem solid #d4d8dc;
  font-size: medium;
  outline: none;
}
.write-text input[type=text]:focus {
  border-color: #121212;
  transition: 0.15s;
}
.write-text .text-send {
  font-family: Bahnschrift, Inter, sans-serif;
  border-color: #d4d8dc;
  border-left: 0;
  color: #121212;
  background-color: #d4d8dc;
}
.write-text .text-send:hover, .write-text .text-send:focus, .write-text .text-send:active {
  color: #d4d8dc;
  background-color: #121212;
  border-color: #121212;
}
.write-text input[type=radio] {
  margin-top: 1rem;
  margin-bottom: 0.75rem;
  font-family: Bahnschrift, Inter, sans-serif;
  border: 0.094rem solid #d4d8dc;
  font-size: medium;
  outline: none;
  cursor: pointer;
}
.write-text input[type=radio]:disabled {
  cursor: not-allowed;
}
.write-text select {
  margin-top: 0.75rem;
  font-family: Bahnschrift, Inter, sans-serif;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 0.094rem solid #d4d8dc;
  font-size: medium;
  outline: none;
  cursor: pointer;
}
.write-text select:focus {
  border-color: #121212;
  transition: 0.15s;
}
.write-text hr {
  border: #b9bdbf 0.094rem solid;
  margin-top: 0.75rem;
  width: 20%;
}
.write-text .sticker-select {
  font-family: Bahnschrift, Inter, sans-serif;
  margin: 1rem;
}
.write-text .sticker-select:hover, .write-text .sticker-select:focus, .write-text .sticker-select:active {
  color: #d4d8dc;
  background-color: #121212;
  border-color: #121212;
}

.write-ios-text {
  background-color: #cbcecf;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem;
  margin: 0 -1rem -1rem -1rem;
  align-items: center;
  text-align: center;
}
.write-ios-text input[type=text] {
  margin-top: 0.75rem;
  font-family: Arial, Helvetica, Inter, Roboto, sans-serif;
  width: 60%;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 0.094rem solid #d4d8dc;
  font-size: medium;
  outline: none;
}
.write-ios-text input[type=text]:focus {
  border-color: #121212;
  transition: 0.15s;
}
.write-ios-text .text-send {
  font-family: Arial, Helvetica, Inter, Roboto, sans-serif;
  border-color: #d4d8dc;
  border-left: 0;
  color: #121212;
  background-color: #d4d8dc;
}
.write-ios-text .text-send:hover, .write-ios-text .text-send:focus, .write-ios-text .text-send:active {
  color: #d4d8dc;
  background-color: #121212;
  border-color: #121212;
}
.write-ios-text input[type=radio] {
  margin-top: 1rem;
  margin-bottom: 0.75rem;
  font-family: Arial, Helvetica, Inter, Roboto, sans-serif;
  border: 0.094rem solid #d4d8dc;
  font-size: medium;
  outline: none;
  cursor: pointer;
}
.write-ios-text input[type=radio]:disabled {
  cursor: not-allowed;
}
.write-ios-text select {
  margin-top: 0.75rem;
  font-family: Arial, Helvetica, Inter, Roboto, sans-serif;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 0.094rem solid #d4d8dc;
  font-size: medium;
  outline: none;
  cursor: pointer;
}
.write-ios-text select:focus {
  border-color: #121212;
  transition: 0.15s;
}
.write-ios-text hr {
  border: #b9bdbf 0.094rem solid;
  margin-top: 0.75rem;
  width: 20%;
}

.sticker-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(18, 18, 18, 0.8);
  color: #d4d8dc;
  opacity: 75;
  padding: 2rem;
  margin: 0;
  box-shadow: 0 0 0.938rem #666868;
  width: 25rem;
  max-height: 25rem;
  border-radius: 0.938rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 1rem;
  padding: 1rem;
  z-index: 3;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: center;
  align-items: center;
  justify-content: center;
  animation: fadein 0.15s cubic-bezier(0.38, 0.1, 0.36, 0.9);
}

.sticker-item {
  text-align: center;
  background-color: none;
  padding: 1rem;
  border-radius: 0.938rem;
  align-self: center;
  justify-self: center;
  cursor: pointer;
}

.sticker-image {
  width: 100%;
  height: auto;
  max-width: 80px;
  margin: 1rem;
  display: block;
  align-self: center;
  justify-self: center;
}

.sticker-id {
  font-size: small;
  color: #d4d8dc;
}

.export-container {
  width: 21.875rem;
  margin: auto;
  font-family: "Rubik", sans-serif;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.export-container button {
  width: 100%;
  font-family: "Rubik", sans-serif;
  margin: 1.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: medium;
  color: #fff;
  background-color: #000;
  cursor: pointer;
}
.export-container textarea {
  width: 100%;
  margin-top: 0.25rem;
  border: #b9bdbf solid 0.094rem;
  border-radius: 5px;
  padding: 0.25rem;
  height: 7.5rem;
}
.export-container .success-message {
  color: rgb(74, 193, 44);
  margin: 0;
  font-size: smaller;
}

.credits {
  margin: 1rem;
  margin-top: 0;
  margin-left: 0;
}

@media (max-width: 480px) {
  .container {
    margin: 0;
  }
  nav {
    flex-direction: column;
    align-items: start;
    right: 0;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    padding-left: 0;
    margin: 0;
  }
  nav ul li a {
    padding: 0.75rem;
    padding-left: 2rem;
    margin: 0.25rem;
    border-radius: 0;
  }
  nav ul li a:active {
    background-color: #fff;
    color: #121212;
    transition: 0.15s;
  }
  nav ul li a:active:hover {
    background-color: #fff;
  }
  nav .open {
    display: flex;
  }
  nav .menu {
    display: flex;
  }
}/*# sourceMappingURL=main.css.map */