@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

//width-heights
$main-width: 21.875rem;                 //device-width
$sub-width: 17.5rem;                 //device-width
// $main-width: 350px;                  //device-width
$main-padding: 1rem;                    //padding-size
$big-padding: 2rem;                     //larger-padding-size
$main-margin: 1.5rem;                   //margin-size
$message-padding: .5rem 1rem;           //text-padding
$alert-dimensions: 1.094rem;            //alert-icon-dimensions
$zero: 0rem;                            

//main-colors
$dark-color: #121212;             
$light-color: #f5f5f5;               
$blk: #000;                         //black-font
$wht: #fff;                         //white-font

//hsr-chat-colors
$bgcolor-hsr: #d4d8dc;              //hsr-chat-background, chat-outline
$sub-color: #666868;                //contact-name, bio-text
$sub-color2: #b9bdbf;               //bio-underline
$sender-color-hsr: #ededed;         //sender-hsr
$receiver-color-hsr: #d9caa9;       //receiver-hsr
$textbox-shadow-color: #9ea0a1;     //textbox-shadow-hsr
$alert-color-hsr: #858586;          //alerts-hsr
$darker-bgcolor: #cbcecf;            //slightly-darker-background

//ios-chat-colors
$sender-color-ios: #e5e5ea;
$receiver-color-ios: #0b93f6;

//kkt-chat-colors
$bgcolor-kkt: #b1c6d9;
$sender-color-kkt: #ffffff;
$receiver-color-kkt: #ffec36;

//fonts
$main-font-family: "Rubik", sans-serif;
$ios-font-family: Helvetica, 'Segoe UI', Inter, Roboto, sans-serif;
$hsr-font-family: Bahnschrift, Inter, sans-serif;

body {
    font-family: $main-font-family;
    margin: $main-margin;
}

nav {
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $wht;
    background-color: $dark-color;
    margin: -1.5rem;
    margin-bottom: $main-margin;

    a {
        text-decoration: none;
        color: $wht;
        background-color: $dark-color;
        padding-left: $big-padding;
    }

    .menu {
        position: absolute;
        top: $main-margin;
        right: $big-padding;
        align-items: center;
        display: none;

        .menu-icon {
            margin: auto;
            width: 1.75rem;
            height: 1.25rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .icon-line {
                width: 100%;
                height: .175rem;
                background-color: $wht;
            }
        }
    }

    ul {
        display: flex;

        li {
            list-style: none;

            a {
                display: block;
                text-decoration: none;
                padding: .5rem 1rem .5rem 1rem;
                margin-right: $main-padding;
                border-radius: .938rem;

                &:hover {
                    background-color: $sub-color2;
                    color: $dark-color;
                }

                &:active, &:focus {
                    background-color: $wht;
                    color: $dark-color;
                    transition: .15s;

                    &:hover {
                        background-color: $wht;
                    }
                }
            }
        }
    }

    .dropdown {
        position: absolute;
        background-color: $dark-color;
        padding: .5rem;
        margin-left: -.325rem;
        border-bottom-left-radius: .5rem;
        border-bottom-right-radius: .5rem;
        width: 7.5rem;
        z-index: 3;
        display: none;
        
        a {
            margin: 0;

            &:visited, &:hover, &:focus, &:active {
                background-color: transparent;
                color: $wht;
                text-decoration: underline $wht;
                transition: .15s;
            }
        }
    }

    .dropdown.show {
        display: block;
    }

}

blockquote {
    border-left: $sub-color2 .188rem solid;
    border-bottom: $sub-color2 .188rem solid;
    padding: .5rem 1rem 1rem 1rem;
    margin-bottom: $big-padding;
    max-width: fit-content;
    margin-left: .25rem;

    a, a:focus, a:visited {
        color: $receiver-color-ios;
    }
}

.all-workskins {
    display: flex;
    flex-wrap: wrap;
    gap: $big-padding;
}

.workskin-container {
    display: flex;
    align-items: start;
    flex-direction: column;
    max-width: $main-width;
}

.workskin-box {
    width: (($main-width)-1rem);
    max-height: 15rem;
    border: $alert-color-hsr;
    background-color: $bgcolor-hsr;
    overflow: scroll;
}

.copy-workskin {
    width: 12.5rem;
    font-family: $main-font-family;
    margin: $main-margin;
    margin-left: 0;
    padding: $main-padding;
    font-size: medium;
    color: $wht;
    background-color: $blk;
    cursor: pointer;
}

.tiny {
    font-size: xx-small;
    margin: 0;
    padding: 0;
}

.container {
    margin: 2rem;
}

.ios-phone {
    font-family: $ios-font-family;
    max-width: $main-width;
    display: table;
    margin: auto;
    padding-left: $main-padding;
    padding-right: $main-padding;
    padding-bottom: $main-padding;
}

.ios-header {
    background-color: $light-color;
    min-width: $main-width;
    border-bottom: .094rem solid $sub-color2;
    padding-bottom: .5rem;
    padding-top: .5rem;
    margin-left: -.5rem;
    margin-right: -.5em;
    margin-bottom: 1rem;
    text-align: center;
    text-transform: capitalize;
}

.main-ios-contact {
    color: $blk;
    font-weight: bold;
    margin-top: .75rem;
    margin-bottom: 0;
    font-size: larger;
    margin-left: 1.5rem;
}

.ios-bio {
    margin: .5rem auto .25rem auto;
    color: $sub-color;
    font-size: smaller;
}

.ios-text {
    float: left;
    margin: 0 0 .75rem .75rem;
}

%picture-ios {
    width: 12.5rem;
    height: 9.375rem;
    background-color: #000;
    border-radius: 1rem;
    margin-bottom: .5rem;
}

.ios-reply {
    float: right;
    margin: 0 .75rem .75rem 0;
}

.full-ios-text {
    margin-right: auto;
    margin-left: 0rem;
    width: 100%;

    .ios-ios-text {
        float: left;
        color: $blk;
        margin: 0 0 0.5rem;
        max-width: 70%;
        border-radius: 1.25rem;
        padding: .75rem 1.25rem .75rem 1.25rem;
        background: $sender-color-ios;
        clear: both;
        position: relative;
        overflow-wrap: break-word;

        &::after {
            content: "";
            position: absolute;
            left: -.5rem;
            bottom: 0;
            width: .5rem;
            height: 1.5rem;
            border-right: .75rem solid $sender-color-ios;
            border-bottom-right-radius: 1.25rem .5rem;
        }
    }

    .ios-ios-picture {
        float: left;
        margin-left: 0; 
        @extend %picture-ios;
    }
}

.full-ios-reply {
    margin-left: auto;
    margin-right: 0rem;
    width: 100%;

    .ios-ios-text {
        float: right;
        color: #FFFFFF;
        margin: 0 0 0.5rem;
        max-width: 70%;
        border-radius: 1.25rem;
        padding: .75rem 1.25rem .75rem 1.25rem;
        background: $receiver-color-ios;
        clear: both;
        position: relative;
        overflow-wrap: break-word;
        
        &::after {
            content: "";
            position: absolute;
            right: -.5rem;
            bottom: 0;
            width: .5rem;
            height: 1.5rem;
            border-left: .75rem solid $receiver-color-ios;
            border-bottom-left-radius: 1.25rem .5rem;
        }

        .no-after::after {
            content: none;
        }
    }

    .ios-ios-picture {
        float: left;
        margin-right: 0;
        @extend %picture-ios;
    }
}

.kkt-phone {
    font-family: $ios-font-family;
    max-width: $main-width;
    display: table;
    margin: auto;
    padding-left: $main-padding;
    padding-right: $main-padding;
    padding-bottom: $main-padding;
    border-radius: .938rem; 
    background-color: $bgcolor-kkt;
}

.kkt-header {
    min-width: $main-width;
    padding-bottom: .5rem;
    padding-top: .5rem;
    margin-left: -.5rem;
    margin-right: -.5em;
    margin-bottom: 1rem;
    text-align: center;
    text-transform: capitalize;
}

%kkt-header-style {
    display: flex;
    align-items: center;
}

.kkt-header-components {
    @extend %kkt-header-style;
    justify-content: space-between;
}

.kkt-header-front {
    @extend %kkt-header-style;
    justify-content: flex-start;
    margin-left: .5rem;
}

.kkt-header-back {
    @extend %kkt-header-style;
    justify-content: flex-end;
    gap: .75rem;
    margin-right: .75rem;
}

.main-kkt-contact {
    color: $blk;
    font-weight: bold;
    margin-top: .75rem;
    margin-bottom: .75rem;
    font-size: larger;
    margin-left: .75rem;
}

.kkt-bio {
    margin: .5rem auto .25rem auto;
    color: $sub-color;
    font-size: smaller;
}

%picture-kkt {
    width: 12.5rem;
    height: 9.375rem;
    background-color: #000;
    border-radius: 1rem;
    margin-bottom: .5rem;
}

%kkt-icon {
    width: 45px;
    height: 45px;
    border-radius: 1.25rem;
    background-color: $dark-color;
}

%kkt-icontainer {
    width: 45px;
    vertical-align: top;
}

.kkt-text {
    float: left;
    margin: 0 0 .75rem .75rem;
}

.kkt-reply {
    float: right;
    margin: 0 .75rem .75rem 0;
}

%kkt-contact {
    font-size: small;
    font-weight: 500;
    color: $blk;
    padding: 0;
    padding-bottom: .25rem;
}

.full-kkt-text {
    margin-right: auto;
    margin-left: 0;
    width: 100%;

    .kkt-kkt-text {
        float: left;
        color: $blk;
        margin: 0 .5rem .5rem 0;
        max-width: 60%;
        border-radius: 1.1rem;
        padding: .75rem 1rem;
        background: $sender-color-kkt;
        clear: both;
        position: relative;
        overflow-wrap: break-word;

        &::after {
            content: "";
            position: absolute;
            left: -.5rem;
            top: 0;
            width: .5rem;
            height: 1.5rem;
            border-right: .5rem solid $sender-color-kkt;
            border-top-right-radius: .75rem .75rem;
        }
    }

    .kkt-kkt-picture {
        float: left;
        margin-left: 0; 
        @extend %picture-kkt;
    }

    .icon {
        @extend %kkt-icon;
        margin-right: .5rem;
    }

    .kkt-icon {
        @extend %kkt-icontainer;
    }

    .sender-contact {
        @extend %kkt-contact;
    }

}

.full-kkt-reply {
    margin-left: auto;
    margin-right: 0rem;
    width: 100%;

    .kkt-kkt-text {
        float: right;
        color: $blk;
        margin: 0 0 .5rem .5rem;
        max-width: 60%;
        border-radius: 1.1rem;
        padding: .75rem 1rem;
        background: $receiver-color-kkt;
        clear: both;
        position: relative;
        overflow-wrap: break-word;
        
        &::after {
            content: "";
            position: absolute;
            right: -.5rem;
            top: 0;
            width: .5rem;
            height: 1.5rem;
            border-left: .5rem solid $receiver-color-kkt;
            border-top-left-radius: .75rem .75rem;
        }

        .no-after::after {
            content: none;
        }
    }

    .kkt-kkt-picture {
        float: left;
        margin-right: 0;
        @extend %picture-kkt;
    }

    .icon {
        @extend %kkt-icon;
        margin-left: .5rem;
    }

    .kkt-icon {
        @extend %kkt-icontainer;
    }

    .receiver-contact {
        @extend %kkt-contact;
    }

}

.hsr-phone {
    max-width: $main-width;
    font-family: $hsr-font-family!important;
    display: table;
    margin: auto;
    background-color: $bgcolor-hsr;
    border-radius: 0 .938rem 0 0;
    outline: .094rem solid rgba(213, 214, 215, .9);
    outline-offset: .125rem;
    padding-left: $main-padding;
    padding-right: $main-padding;
    padding-bottom: $main-padding;
}

.header {
    min-width: $main-width;
    background: none;
    border-bottom: .094rem solid $sub-color2;
    margin-bottom: 1rem;
    padding-left: .5rem;
    padding-top: .5rem;
}

.main-contact {
    font-size: larger;
    color: $dark-color;
    font-weight: bold;
    margin-top: .75rem;
    margin-bottom: 0;
}

.bio {
    margin: .25rem auto .75rem auto;
    color: $sub-color;
    font-size: smaller;
    font-weight: 600;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 75;
    }
}

%edit-icon {
    padding-top: $main-padding;
    background: none;
    border: none;
    cursor: pointer;
    -webkit-animation: fadein 0.15s cubic-bezier(0.38, 0.1, 0.36, 0.9);
        animation: fadein 0.15s cubic-bezier(0.38, 0.1, 0.36, 0.9);
}

.icon-edit {
    @extend %edit-icon;
    color: mix($sub-color, $sub-color2, 50%);
    float: right;
    z-index: 1;
    padding-right: $main-padding;
    padding-left: 0;
    padding-bottom: 0;
}

.icon-edit-kkt {
    @extend %edit-icon;
    color: $sub-color;
}

.popupper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba($dark-color, .8);
    color: $bgcolor-hsr;
    opacity: 75;
    padding: $big-padding;
    margin: 0;
    box-shadow: 0 0 .938rem $sub-color;
    width: 17.5rem;
    height: fit-content;
    border-radius: .938rem;
    transition: .5s;
    z-index: 2;
    -webkit-animation: fadein 0.15s cubic-bezier(0.38, 0.1, 0.36, 0.9);
        animation: fadein 0.15s cubic-bezier(0.38, 0.1, 0.36, 0.9);

    input[type=text] {
        margin-top: .75rem;
        color: $wht;
        font-family: $hsr-font-family;
        padding: .5rem 1rem .5rem 1rem;
        border: .094rem solid $dark-color;
        background-color: $blk;
        font-size: medium;
        outline: none;
        width: 85%;
        margin-bottom: 1rem;

        &:focus {
            border-color: $sub-color;
            transition: .15s;
        }
    }

}

label {
    padding: .5rem 1rem .5rem .5rem;
}

.full-message {
    min-height: fit-content;
    margin-bottom: .25rem;
}

%picture-shared {
    width: 150px;
    height: 75px;
    background-color: #000;
}

%sticker-shared {
    width: 75px;
    height: 75px;
    background-color: none;
    margin: $main-padding;
}

%hsr-icon {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: $dark-color;
}

%hsr-icontainer {
    width: 60px;
    vertical-align: top;
}

.full-text {
    margin-right: auto;
    margin-left: 0rem;
    width: 100%;

    .text {
        font-weight: 500;
        color: $dark-color;
        padding: $message-padding;
        max-width: 70%;
        clear: both;
        position: relative;
        background: $sender-color-hsr;
        box-shadow: -.063rem .125rem $textbox-shadow-color;
        border-radius: 0 .65rem .65rem .65rem;
        overflow-wrap: break-word;
    }

    .picture {
        float: left;
        margin: .5rem .75rem 1rem 1.5rem;
        @extend %picture-shared;
    }

    .sticker {
        float: left;
        @extend %sticker-shared;
    }

    .icon {
        @extend %hsr-icon;
    }
    
    .container-icon {
        @extend %hsr-icontainer;
    }

}

.full-reply {
    margin-right: 0rem;
    margin-left: auto;
    width: 100%;

    .text {
        font-weight: 500;
        color: $dark-color;
        padding: $message-padding;
        max-width: 70%;
        clear: both;
        position: relative;
        border-radius: .65rem 0 .65rem .65rem;
        background: $receiver-color-hsr;
        box-shadow: .063rem .125rem $textbox-shadow-color;
        overflow-wrap: break-word;
    }

    .picture {
        float: right;
        margin: .5rem 1.5rem 1rem .75rem;
        @extend %picture-shared;
    }

    .sticker {
        float: right;
        @extend %sticker-shared;
    }

    .icon {
        @extend %hsr-icon;
    }
    
    .container-icon {
        @extend %hsr-icontainer;
    }

}

.message-content {
    display: flex;
    flex-direction: column;
}

.sender-contact {
    font-weight: 500;
    font-size: 90%;
    color: $sub-color;
    padding: 0 0 .25rem .75rem;
}

.receiver-contact {
    font-weight: 500;
    font-size: 90%;
    color: $sub-color; 
    padding: 0 .75rem .25rem 0;
    text-align: right;
}

.sender {
    float: left;
    margin: 0 0 .75rem .75rem;
}

.receiver {
    float: right;
    margin: 0 .75rem .75rem 0;
}

.edit-btn-div {

    position: absolute;
    left: 35%;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    background: $blk;
    display: inline;

    button {
        width: 35px;
        height: 35px;
        color: $wht;
        border: none;
        background: none;
        cursor: pointer;
        text-align: center;
    }
}

.fullalert {
    vertical-align: middle;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.alert-icon {
    width: $alert-dimensions;
    height: $alert-dimensions;
}
.alert-display {
    width: fit-content;
    text-align: center;
}

.ios-alert {
    vertical-align: middle;
    text-align: left;
    color: $alert-color-hsr;
    font-size: small;
    padding: 0;
    margin: 0;
    display: table;
}

.kkt-alert {
    background-color: rgba(74, 74, 74, .3);
    vertical-align: middle;
    text-align: left;
    color: $blk;
    font-size: small;
    padding: .25rem .5rem;
    margin: .5rem 0 .75rem 0rem;
    display: table;
    border-radius: 2rem;
}

.alert {
    vertical-align: middle;
    text-align: left;
    color: $alert-color-hsr;
    font-size: small;
    padding-bottom: .5rem;
    padding-top: .5rem;
    margin: .25rem 0 .75rem 0rem;
    display: table;
}

%my-button {
    padding: .5rem 1rem .5rem 1rem;
    border: .094rem solid $bgcolor-hsr;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;

    &:hover, &:focus, &:active {
        transition: .15s;
    }
}

.write-text {
    background-color: $darker-bgcolor;
    width: 100%;
    height: fit-content;
    padding: $main-padding;
    margin: 0 -1rem -1rem -1rem;
    align-items: center;
    text-align: center;

    input[type=text] {
        margin-top: .75rem;
        font-family: $hsr-font-family;
        width: 60%;
        padding: .5rem 1rem .5rem 1rem;
        border: .094rem solid $bgcolor-hsr;
        font-size: medium;
        outline: none;

        &:focus {
            border-color: $dark-color;
            transition: .15s;
        }
    }

    .text-send {
        @extend %my-button;
        font-family: $hsr-font-family;
        border-color: $bgcolor-hsr;
        border-left: 0;
        color: $dark-color;
        background-color: $bgcolor-hsr;

        &:hover, &:focus, &:active {
            color: $bgcolor-hsr;
            background-color: $dark-color;
            border-color: $dark-color;
        }
    }

    input[type=radio] {
        margin-top: 1rem;
        margin-bottom: .75rem;
        font-family: $hsr-font-family;
        border: .094rem solid $bgcolor-hsr;
        font-size: medium;
        outline: none;
        cursor: pointer;
        &:disabled {
            cursor: not-allowed;
        }
    }

    select {
        margin-top: .75rem;
        font-family: $hsr-font-family;
        padding: .5rem 1rem .5rem 1rem;
        border: .094rem solid $bgcolor-hsr;
        font-size: medium;
        outline: none;
        cursor: pointer;

        &:focus {
            border-color: $dark-color;
            transition: .15s;
        }
    }

    hr {
        border: $sub-color2 .094rem solid;
        margin-top: .75rem;
        width: 20%;
    }

    .sticker-select {
        @extend %my-button;
        font-family: $hsr-font-family;
        margin: $main-padding;
        
        &:hover, &:focus, &:active {
            color: $bgcolor-hsr;
            background-color: $dark-color;
            border-color: $dark-color;
        }
    }

}

.write-ios-text {
    background-color: $darker-bgcolor;
    width: 100%;
    height: fit-content;
    padding: $main-padding;
    margin: 1rem -1rem -1rem -1rem;
    align-items: center;
    text-align: center;

    input[type=text] {
        margin-top: .75rem;
        font-family: $ios-font-family;
        width: 60%;
        padding: .5rem 1rem .5rem 1rem;
        border: .094rem solid $bgcolor-hsr;
        font-size: medium;
        outline: none;

        &:focus {
            border-color: $dark-color;
            transition: .15s;
        }
    }

    .text-send {
        @extend %my-button;
        font-family: $ios-font-family;
        border-color: $bgcolor-hsr;
        border-left: 0;
        color: $dark-color;
        background-color: $bgcolor-hsr;

        &:hover, &:focus, &:active {
            color: $bgcolor-hsr;
            background-color: $dark-color;
            border-color: $dark-color;
        }
    }

    input[type=radio] {
        margin-top: 1rem;
        margin-bottom: .75rem;
        font-family: $ios-font-family;
        border: .094rem solid $bgcolor-hsr;
        font-size: medium;
        outline: none;
        cursor: pointer;
        &:disabled {
            cursor: not-allowed;
        }
    }

    select {
        margin-top: .75rem;
        font-family: $ios-font-family;
        padding: .5rem 1rem .5rem 1rem;
        border: .094rem solid $bgcolor-hsr;
        font-size: medium;
        outline: none;
        cursor: pointer;

        &:focus {
            border-color: $dark-color;
            transition: .15s;
        }
    }

    hr {
        border: $sub-color2 .094rem solid;
        margin-top: .75rem;
        width: 20%;
    }

}


.write-kkt-text {
    background-color: $darker-bgcolor;
    width: 100%;
    height: fit-content;
    padding: $main-padding;
    margin: 1rem -1rem -1rem -1rem;
    align-items: center;
    text-align: center;

    input[type=text] {
        margin-top: .75rem;
        font-family: $ios-font-family;
        width: 60%;
        padding: .5rem 1rem .5rem 1rem;
        border: .094rem solid $bgcolor-hsr;
        font-size: medium;
        outline: none;

        &:focus {
            border-color: $dark-color;
            transition: .15s;
        }
    }

    .text-send {
        @extend %my-button;
        font-family: $ios-font-family;
        border-color: $bgcolor-hsr;
        border-left: 0;
        color: $dark-color;
        background-color: $bgcolor-hsr;

        &:hover, &:focus, &:active {
            color: $bgcolor-hsr;
            background-color: $dark-color;
            border-color: $dark-color;
        }
    }

    input[type=radio] {
        margin-top: 1rem;
        margin-bottom: .75rem;
        font-family: $ios-font-family;
        border: .094rem solid $bgcolor-hsr;
        font-size: medium;
        outline: none;
        cursor: pointer;
        &:disabled {
            cursor: not-allowed;
        }
    }

    select {
        margin-top: .75rem;
        font-family: $ios-font-family;
        padding: .5rem 1rem .5rem 1rem;
        border: .094rem solid $bgcolor-hsr;
        font-size: medium;
        outline: none;
        cursor: pointer;

        &:focus {
            border-color: $dark-color;
            transition: .15s;
        }
    }

    hr {
        border: $sub-color2 .094rem solid;
        margin-top: .75rem;
        width: 20%;
    }

}

.sticker-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba($dark-color, .8);
    color: $bgcolor-hsr;
    opacity: 75;
    padding: $big-padding;
    margin: 0;
    box-shadow: 0 0 .938rem $sub-color;
    width: 25rem;
    max-height: 25rem;
    border-radius: .938rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: $main-padding;
    padding: $main-padding;
    z-index: 3;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
    align-items: center;
    justify-content: center;
    -webkit-animation: fadein 0.15s cubic-bezier(0.38, 0.1, 0.36, 0.9);
        animation: fadein 0.15s cubic-bezier(0.38, 0.1, 0.36, 0.9);
}

.sticker-item {
    text-align: center;
    background-color: none;
    padding: $main-padding;
    border-radius: .938rem;
    align-self: center;
    justify-self: center;
    cursor: pointer;
}
  
.sticker-image {
    width: 100%;
    height: auto;
    max-width: 80px;
    margin: $main-padding;
    display: block;
    align-self: center;
    justify-self: center;
}
  
.sticker-id {
    font-size: small;
    color: $bgcolor-hsr;
}

.export-container {

    width: $main-width;
    margin: auto;
    font-family: $main-font-family;
    padding: $main-padding;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    button {
        width: 100%;
        font-family: $main-font-family;
        margin: $main-margin;
        padding: .5rem 1rem .5rem 1rem;
        font-size: medium;
        color: $wht;
        background-color: $blk;
        cursor: pointer;
    }

    textarea {
        width: 100%;
        margin-top: .25rem;
        border: $sub-color2 solid .094rem;
        border-radius: 5px;
        padding: .25rem;
        height: 7.5rem;
    }

    .success-message {
        color: rgb(74, 193, 44);
        margin: 0;
        font-size: smaller;
    }

}

.credits {
    margin: 1rem;
    margin-bottom: 0;
    margin-left: 0;
}

.no-after::after {
    content: none;
}

.suggestion {
    font-family: $main-font-family;
    padding: $main-padding;
    font-size: medium;
    border: .094rem solid $sub-color2;
}

.suggestion-submit {
    font-family: $main-font-family;
    margin: $main-margin;
    margin-left: 0;
    padding: .5rem 1rem .5rem 1rem;
    font-size: medium;
    color: $wht;
    background-color: $blk;
    cursor: pointer;
}

.notif {
    margin: 0;
    color: $alert-color-hsr;
    font-size: small;
}

.login-page {
    display: block;
}

%profile-input {
    padding: .5rem .75rem;
    font-family: $main-font-family;
    border: .094rem solid $dark-color;
}

%user-button {
    font-family: $main-font-family;
    padding: .5rem 1rem .5rem 1rem;
    font-size: medium;
    color: $wht;
    background-color: $blk;
    cursor: pointer;
}

.login-input {
    @extend %profile-input;
    margin-bottom: $main-padding;
    margin-left: 0;
}

.login-submit {
    @extend %user-button;
    margin-top: 0;
}

.login-switch {
    background: none;
    border: none;
    font-family: $main-font-family;
    color: $sub-color;
    font-size: medium;
    text-decoration: underline;
}

.user-image-upload {
    @extend %profile-input;
    margin-bottom: $main-padding;
    width: $main-width;
}

.image-submit {
    @extend %user-button;
    margin: $main-padding;
    margin-left: 0;
    margin-top: 0;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    gap: $main-padding;
}
.image-card {
    text-align: center;
}
.image-card img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 480px) {
    .container {
        margin: 0;
    }

    .export-container {
        width: $sub-width;
    }
    .ios-phone, .hsr-phone {
        max-width: $sub-width;
    }
    .ios-header, .header {
        min-width: $sub-width;
    }

    nav {

        flex-direction: column;
        align-items: start;
        right: 0;
        max-height: fit-content;

        ul {
            display: none;
            flex-direction: column;
            width: 100%;
            padding-left: 0;
            margin: 0;

            li {

                a {
                    padding: .75rem;
                    padding-left: $big-padding;
                    margin: .25rem;
                    border-radius: 0;

                    &:active {
                        background-color: $wht;
                        color: $dark-color;
                        transition: .15s;
    
                        &:hover {
                            background-color: $wht;
                        }
                    }
                }
            }
        }

        .open {
            display: flex;
        }

        .menu {
            display: flex;
        }

        .dropdown {
            width: 100%;
            background-color: $sub-color2;
            padding: 0;
            margin: 0;
            border-radius: 0;

            a {
                padding: .75rem;
                color: $blk;
                padding-left: $big-padding;
                margin: .25rem;
                border-radius: 0;

                &:visited, &:hover, &:focus, &:active {
                    color: $blk;
                    text-decoration: $blk underline;
                }
            }
        }
    }
}